<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SuperCollectionView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5672A0CD1B6AFBA100C5E90E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5672A0E11B6AFBA100C5E90E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5672A0EC1B6AFBA100C5E90E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
